.homeInspaction_section {
    padding: 60px 0px;
}
.prepurchase_section {
    padding: 60px 0px;
}
.inspection_includes_sec {
    padding: 50px 0px;
    background-color: #f2f6f7;
}
.services_sec {
    background-color: transparent;
}
.service_item {
    min-height: 485px;
}